* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #060B0E;
}

.logo {
  margin-right: auto;
  text-decoration: none;
  color:#faebd7;
  font-weight: bold;
  font-size: 30px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "raleway", sans-serif;
  font-weight: 600;
  color: #F2E9D8;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #A69886;
  text-decoration: underline;
  
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color:#00754C ;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: #59544A;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #F4AB2B ;

}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 500px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 1000px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

img {
  border-radius: 15px;
  box-shadow: 1px 2px 30px #59544A;
  margin-bottom: 15px;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

section {
  background-color: #F2E9D8;
}

h1 { 
  font-size: 100px;
  padding: 15px;
  display: flex;
  justify-content:right;
}

h2{
  font-size: 40px;
  line-height: 100%;
  padding: 10px;
  margin-top: 10px;
}

p {
  line-height: 150%;
  padding: 10px;
  margin-bottom: 10px;
  font-size:18px;
}

p2 {
  padding: 5px;
  margin-top: 10px;
}



ul2 {
  font-size: 25px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  line-height: 150%;
}

li2{
  padding: 25px;
  text-decoration: none;
}

.container{
  padding: 30px;
}

.button {
padding: 15px 25px;
font-size: 20px;
text-align: center;
cursor: pointer;
outline: none;
color: #F2E9D8;
background-color: #00754C;
border: none;
border-radius: 15px;
box-shadow: 0 9px #a8c9bf;
}

.button:hover {background-color: #006243}

.button:active {
background-color: #006243;
box-shadow: 0 5px #43A072;
transform: translateY(4px);}
