
body {
    margin: 0px;
  }
  
  nav {
      background-color: #F2E9D8;
  }
  
  
  ul {
    display: flex;
    list-style-type: none;
    font-size: 15px;
    justify-content: flex-end;
    align-items: center;
    margin: 0px; 
  }
  
  li {
    margin: 15px;
    font-family: raleway;
    padding: 2px;
  }
  
  #title {
    margin-right: auto;
    font-weight: bold;
    font-size: 35px;
  }
  
  
  li a {
   color: #A69886;
   text-decoration: none; 
  }
  
  li a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #59544A;
  }
  
  @media (max-width: 1000px) {
      ul {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
      }
      .li {
          flex-basis: 100%;
          text-align: center;
      }

    