
body {
  margin: 0px;
}

nav {
    background-color: #F2E9D8;
}


ul {
  display: flex;
  list-style-type: none;
  font-size: 15px;
  justify-content: flex-end;
  align-items: center;
  margin: 0px; 
}

li {
  margin: 15px;
  font-family: raleway;
  padding: 2px;
}

#title {
  margin-right: auto;
  font-weight: bold;
  font-size: 35px;
}


li a {
 color: #A69886;
 text-decoration: none; 
}

li a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #59544A;
}

@media (max-width: 1000px) {
    ul {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
    }
    .li {
        flex-basis: 100%;
        text-align: center;
    }
  }
  .hero {
    /* SIZING */
    width: 100vw;
    height: 100vh;

    /* Flexbos */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: #F2E9D8;
    text-shadow: 2px 2px #A69886;
    
}

.hero h1{
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero h2{
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero h3{
    font-size: 2em;
    margin-bottom: 0.5em;
    
}

.hero {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("AdobeStock_366445666.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}



.text {
    margin: auto;
    width: 75%;
    padding: 20px;
    text-align: center;
    font-size: 30px;
   }

.button {
    width: 50%;
    border: none;
    background-color: #59544A;
    color: #F2E9D8;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
}

.footer { 
  background-color: #F2E9D8;
  padding: 5px;
  margin: 5px;
  display: flex ;
  justify-content: center;
  align-items: center;
}

li2 {
  font-family: raleway;
  padding: 5px;
  margin: 5px;
  display: inline;
  
 
  
}

#title2 {
  
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
  margin: 5px;
}

li2 a {
  color: #A69886;
  text-decoration: none; 
 }
 
 li2 a:hover {
   text-decoration: underline;
   font-weight: bold;
   color: #59544A;
 }

